.loading{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.60);
  padding:150px 30px;
  z-index:999;
  .wrap{
    width: 100%;
    background-color: #fff;
    border-radius:4px;
    padding:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
      font-size: 14px;
      color: #505160;
    }
    img{
      width: 100px;
      height: 100px;
    }
    .customButton{
      height: 36px;
      width: 90px;
    }
  }
}