.privateKeyImport {

    .privateKeyInput {
        background: #F7F8FA;
        padding: 14px;
        font-size: 15px;
        line-height: 20px;
        border-radius: 2px;
        user-select: all;
        word-break: break-word;
        border: none;
        width: 100%;
        box-sizing: border-box;
        resize: none;
    }
}
