.insetContainer{
	&.keystoreImport{
		padding:0;
		background:transparent url('../../../../assets/images/new/background.svg') left top no-repeat;
		.back{
			background-image:url('../../../../assets/images/new/icon-back2.svg');
		}
		.pageHeader{
			height: 56px;
			display: flex;
			flex-direction:row;
			align-items:center;	
			justify-content:center;
			color: #fff;
		}
		.greyModal{
			padding-top: 0;
			background-color: transparent;
			display: flex;
			flex-direction:column;
			.uploadDesc{
				font-size: 12px;
				color: #FFFFFF;
				height: 18px;
				line-height: 18px;
				margin-top: 15px;
			}
			.uploadWrap{
				position: relative;
				height: 100px;
				margin-top: 20px;
				width: 100%;
				border:1px dashed rgba(239,239,239,0.50);
				display: flex;
				flex-direction:column;
				align-items:center;
				padding-top: 20px;
				.icon{
					width: 29px;
					height: 27px;
					background-image: url('../../../../assets/images/new/icon-upload.svg');
				}
				.text{
					margin-top: 12px;
					font-size: 12px;
					color: #EFEFEF;
				}
				input{
					cursor: pointer;
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					opacity: 0;
				}
			}
			.passwordWrap{
				margin-top: 30px;
				padding:0 15px 25px 15px;
				background: #FFFFFF;
				border: 1px solid #EFEFEF;
				box-shadow: 0 2px 14px 0 rgba(136,137,152,0.30);
				border-radius: 4px;
				.selectedFile{
					height: 55px;
					display: flex;
					flex-direction:row;
					align-items:center;
					border-bottom: 1px solid #F7F8FA;
					&:before{
						content:'';
						width: 36px;
						height: 36px;
						background-image: url('../../../../assets/images/new/icon-file.svg');
						background-size:100%;
					}
					span{
						font-size: 14px;
						color: #505160;
					}
				}
				.password{
					display: flex;
					flex-direction:column;
					margin-bottom: 20px;
					label{
						height: 40px;
						line-height:40px;
						font-size: 14px;
						color: #505160;
					}
					input{
						background: #F7F8FA;
						border-radius: 2px;
						height: 36px;
						border:none;
						padding:0 8px;
					}
				}				
			}
		}
	}
}





