.writingPhrase .wordList {
    margin-bottom: 30px;
    background: #F7F8FA;
    border-radius: 2px;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    flex-wrap: wrap;
    user-select: all;
    justify-content:flex-start;
    height: 170px;
    .word {
        width: 30%;
        background-color: #fff;
        padding:2px 0;
        margin:0 5% 8px 0;
        color: #505160;
        &:nth-child(3n){
            margin-right:0;
        }
        &:nth-child(10),&:nth-child(11),&:nth-child(12){
            margin-bottom: 0;
        }
    }
}
