.confirmationController {
    padding:0 30px !important;
    background-color: #505160;
    justify-content: center !important;
    .greyModal{
        &.confirmModal{
            background-color: #fff;
            border-radius:2px;
            padding: 20px;
            .modalDesc{
                color: #505160;
                margin-bottom: 4px;
                strong{
                    color: #636ACC;
                    font-weight:normal;
                }
            }
        }
    }

    .meta {
        font-size: 13px;
        & > .function{
            z-index:10;
            position: relative;
            cursor: pointer;
            &.show{
                .metaLine{
                    &:after{
                        transform:rotate(180deg);
                        top:-2px;
                    }
                }
                .show_arg{
                    display: block;
                }
            }
            .show_arg{
                box-sizing: border-box;
                width: 100%;
                color: rgb(136, 137, 152);
                background: #F7F8FA;
                padding:8px;
                border-radius:0px;
                transition:all .2s ease-in-out;
                line-height:20px;
                word-break:break-all;
                display: none;
                user-select: text;
                font-size: 12px;
                .item{
                    height:40px;
                    box-sizing: border-box;
                    border-bottom:1px solid #fff;
                    padding:0 8px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    &:last-child{
                        border:none;
                    }
                }
            }
            .metaLine{
                align-items: center;
                &:after{
                    content:'';
                    position: relative;
                    top:3px;
                    margin-left: 8px;
                    width: 0;
                    height: 0;
                    border-top:5px solid #000;
                    border-bottom:5px solid transparent;
                    border-left:5px solid transparent;
                    border-right:5px solid transparent;
                }
            }

        }
        .metaLine {
            display: flex;
            flex-direction: row;
            height: 40px;
            border-bottom:1px solid #EFEFEF;
            span{
                line-height:40px;
            }
            span:first-of-type {
                flex: 1;
                font-weight: 500;
            }

            span.value {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-left: 20px;
            }

        }
    }

    .parameters {
        background: #FFFFFF;
        margin-bottom: 20px;
        padding: 15px;
        font-size: 13px;
        border-radius: 4px;
        max-height: 200px;
        word-break: break-all;
        overflow-y: auto;
    }

    .whitelist {
        margin-top: 14px;

        background: #F7F8FA;
        border-radius: 2px;
        padding: 10px;
        font-size: 13px;
        color: #888998;
        .whitelistTitle {
            margin-bottom: 5px;
        }
        .whitelistBody {
            margin-bottom: 10px;
        }
        .dropdown {
            .Dropdown-control {
                box-shadow: none !important;
                border: 1px solid #dadada;
                background: #ffffff;
                border-radius: 4px;
                &.Dropdown-disabled{
                    background: rgba(194,200,213,0.80);
                    border-radius: 2px;
                }
            }

            .Dropdown-menu {
                max-height: 150px;
                box-shadow: none !important;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                border: 1px solid #dadada;
                .Dropdown-option.is-selected, .Dropdown-option:hover {
                    background-color: #707897;
                    color: #FFFFFF;
                }
            }
        }
    }

    .authorize{
        cursor: pointer;
        margin-top:10px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        .radio{
            width: 14px;
            height: 14px;
            border: 1px solid #C2C8D5;
            border-radius: 100%;
            &.checked{
                border:none;
                background-image: url('../../assets/images/new/icon-selected.svg');
                background-size:100%;
            }
        }
        .txt{
            margin-left: 6px;
            flex:1;
            font-size: 12px;
            color: #888998;
            line-height: 14px;
        }
    }

    .customButton{
        &.danger{
            border: 1px solid #636ACC;
            border-radius: 2px;
            span{
                color: #636ACC !important;
            }
            background-color: #fff;
            &:hover{
                background-color: #fff !important;
            }
        }
    }

}
