.pageContainer {
	width: 360px;
	height: 600px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: #1f2630;
	.header {
		width: 100%;
		background: #1f2630;
		.titleContainer {
			height: 58px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 0 18px;
			& > div {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				img {
					width: 82px;
				}
				&.selectedChain {
					color: #ffffff;
					width: 120px;
					height: 26px;
					position: relative;
					cursor: pointer;
					background: #313843;
					box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
					border-radius: 6px;
					padding: 0 10px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					font-size: 12px;
					z-index: 11;
					& > .chainWrap {
						position: absolute;
						background: rgba(80, 81, 96, 0.9);
						border-radius: 6px;
						overflow: hidden;
						left: 0;
						top: 34px;
						width: 134px;
						height: 0;
						transition: all ease-in-out 0.2s;
						cursor: pointer;
						display: flex;
						flex-direction: column;
						.item {
							width: 100%;
							height: 50px;
							color: rgba(255, 255, 255, 0.5);
							display: flex;
							flex-direction: row;
							padding-left: 20px;
							align-items: center;
							font-size: 16px;
							&:hover {
								background-color: rgba(136, 137, 152, 0.5);
								color: #fff;
							}
							&:before {
								content: "";
								width: 9px;
								height: 9px;

								border-radius: 100%;
								margin-right: 8px;
							}
							&:first-child {
								&:before {
									background-color: #68c842;
								}
							}
							&:nth-child(2) {
								&:before {
									background-color: #a9afff;
								}
							}
						}
					}
					& > span {
						flex: 1;
						text-align: center;
					}
					&:before {
						content: "";
						width: 9px;
						height: 9px;
						border-radius: 100%;
					}
					&.selected1 {
						&:before {
							background-color: #68c842;
						}
					}
					&.selected2 {
						&:before {
							background-color: #a9afff;
						}
					}
					&:after {
						content: "";
						width: 0;
						height: 0;
						border-top: 4px solid rgba(136, 137, 152, 0.5);
						border-left: 4px solid transparent;
						border-right: 4px solid transparent;
						border-bottom: 4px solid transparent;
						position: relative;
						top: 2px;
						right: 0px;
					}
					&.showList {
						&:after {
							transform: rotate(180deg);
							top: -2px;
						}
					}
				}
				.linkWrap {
					padding-left: 10px;
					height: 16px;
					border-right: 1px solid #efefef;
					.link {
						width: 18px;
						height: 18px;
						background-repeat: no-repeat;
						background-position: center;
						margin-right: 10px;
						&.link-twiter {
							background-image: url("../../assets/images/new/icon-twiter.svg");
							&:hover {
								background-image: url("../../assets/images/new/icon-twiter-hover.svg");
							}
						}
						&.link-telegram {
							background-image: url("../../assets/images/new/icon-telegram.svg");
							&:hover {
								background-image: url("../../assets/images/new/icon-telegram-hover.svg");
							}
						}
						&.link-home {
							background-image: url("../../assets/images/new/icon-home.svg");
							&:hover {
								background-image: url("../../assets/images/new/icon-home-hover.svg");
							}
						}
						&.link-exchange {
							background-image: url("../../assets/images/new/side/icon-exchange.svg");
							&:hover {
								background-image: url("../../assets/images/new/side/icon-exchange-hover.svg");
							}
						}
						&.link-ledger {
							background-size: 100%;
							background-image: url("../../assets/images/new/ledger/icon-ledger2.svg");
							&:hover {
								background-image: url("../../assets/images/new/ledger/icon-ledger2-hover.svg");
							}
						}
						&.link-dapp {
							background-image: url("../../assets/images/new/dapp/icon-dapp.svg");
							&:hover {
								background-image: url("../../assets/images/new/dapp/icon-dapp-hover.svg");
							}
						}
					}
				}
				& > div {
					display: flex;
					flex-direction: row;
					align-items: center;
					.fun {
						width: 18px;
						height: 18px;
						cursor: pointer;
						background-repeat: no-repeat;
						background-position: center;
						&[data-for="lock"] {
							background-image: url("../../assets/images/new/icon-lock2.svg");
							margin-right: 10px;
							margin-left: 10px;
							&:hover {
								background-image: url("../../assets/images/new/icon-lock2-hover.svg");
							}
						}
						&[data-for="refresh"] {
							background-image: url("../../assets/images/new/icon-refresh.svg");
							margin-right: 10px;
							&:hover {
								background-image: url("../../assets/images/new/icon-refresh-hover.svg");
							}
						}
						&[data-for="set"] {
							background-image: url("../../assets/images/new/icon-setting.svg");
							&:hover {
								background-image: url("../../assets/images/new/icon-setting-hover.svg");
							}
						}
					}
				}
			}
			.title {
				font-size: 14px;
				line-height: 14px;
			}

			.subTitle {
				height: 13px;
				line-height: 13px;
				color: #888888;
				padding-top: 3px;
			}
		}
	}
	.dropList {
		cursor: pointer;
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		top: 40px;
		left: 0;
		z-index: 100;
		background: rgba(80, 81, 96, 0.9);
		border-radius: 4px;
		transition: all ease-in-out 0.2s;
		overflow: hidden;
		&.accountList {
			top: 30px;
			display: flex;
			flex-direction: column;
			.accounts {
				flex: 1;
				overflow-y: auto;
			}
		}
		&.menuList {
			transform: translateX(-100%);
			top: 30px;
			left: 100%;
		}
		.item {
			display: flex;
			flex-direction: row;
			padding-right: 8px;
			align-items: center;
			height: 30px;
			color: #fff;
			font-size: 12px;
			cursor: pointer;
			&.gap {
				position: relative;
				&:before {
					position: absolute;
					width: 90%;
					height: 0;
					left: 5%;
					top: 0;
					border-top: 1px dashed rgba(247, 248, 250, 0.6);
					content: "";
				}
			}
			&:hover {
				background-color: #888998;
			}
			span {
				&:nth-child(2) {
					flex: 1;
				}
				&.selected {
					width: 8px;
					height: 8px;
					border-radius: 100%;
					background: #db705c;
				}
			}
			.dot {
				width: 12px;
				height: 12px;
				border-radius: 100%;
				margin: 0 10px;
			}
			.icon {
				width: 30px;
				height: 30px;
				background-position: center;
				background-repeat: no-repeat;
				&.account {
					background-image: url("../../assets/images/new/icon-user.svg");
				}
				&.create {
					background-image: url("../../assets/images/new/icon-create.svg");
				}
				&.import {
					background-image: url("../../assets/images/new/icon-import.svg");
				}
				&.backup {
					background-image: url("../../assets/images/new/icon-backup.svg");
				}
				&.whitelist {
					background-image: url("../../assets/images/new/icon-white-list.svg");
				}
				&.delete {
					background-image: url("../../assets/images/new/icon-delete.svg");
				}
				&.link {
					background-image: url("../../assets/images/new/icon-link.svg");
				}
				&.addToken {
					background-image: url("../../assets/images/new/icon-add.svg");
				}
				&.frozen {
					background-image: url("../../assets/images/new/icon-frozen.svg");
				}
				&.vote {
					background-image: url("../../assets/images/new/icon-vote.svg");
				}
				&.asset {
					background-image: url("../../assets/images/new/icon-asset.svg");
				}
			}

			&:first-child {
				border-radius: 4px 4px 0 0;
			}
			&:last-child {
				border-radius: 0 0 4px 4px;
			}
			span:nth-child(2) {
				height: 14px;
				line-height: 14px;
				flex: 1;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
	.pageView {
		flex: 1;
		position: relative;

		.page {
			transition: transform 250ms ease;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			flex-direction: column;
			overflow: hidden;
		}
	}
}
